@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

: root{
    --primary: #feea6be7;
    --blue: #375694;
    --dark-gray:#6B7280;
    --ski: #E8E2D3;
}

body{
    
    font-weight: 200;
    background-color: var(--ski);
    background-repeat: no-repeat;
    background: url("assests/minions.jpg") no-repeat center fixed;
}

textarea{
    font-family: 'Montserrat', sans-serif;
    border-style: hidden;
    border-radius: 5px;
    margin: 1.5rem 0.5rem;
    width: 75%;
    height: 20vh;
    background-color: var(--ski);
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

#text-output{
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-style: hidden;
    border-radius: 5px;
    margin: auto;
    width: 75%;
    height: 20vh;
    background-color: var(--ski);
    padding: 5px;
}

.container{
    
    background-color: var(--primary);
    margin: auto;
    padding: 0rem;
    border-radius: 3rem;
    border-style: hidden;
    box-shadow: var(--dark-gray);
    text-align: center;
    max-width: 700px;
    max-height: 80%;
    box-shadow: 2px 2px rgba(250, 211, 84, 0.959);
}

button {
    margin: 0.5rem;
    background-color: var(--blue);
    padding: 1rem;
    border: hidden;
    border-radius: 0.3rem;
    box-shadow: antiquewhite;
    color:#fff;

}

.block{
    text-align: center;
    padding: 1.5rem;
    margin: 0rem;
}

.block h2{
    font-family: 'Big Shoulders Inline Text', cursive; 
    color:var(--blue); 
    font-size: 40px !important;
}

